<!doctype html>
<html lan="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Masoud Ahmadi Blug">
    <meta name="author" content="Masoud Ahmadi">

    <title>Masoud's Contact</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
 </head>
 <body>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/#page-top">Masoud Ahmadi</a>
            </div>

            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <% include templates/pagelink.ejs %>
                </ul>
            </div>
            
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header class="sb-page-header" >
        <div class="container">
            <h1>Contacts</h1>
            <p>If (HaveOffer || NeedCV || LikeMe){ ContactMe(); }</p>
        </div>
    </header>
    <section>
        <div class="row" style="margin:0px;">
            <div class="col-lg-6 col-xs-12 col-lg-offset-1"> 
            <a id="foxyform_embed_link_744422" href="http://www.foxyform.com/"></a>
                <script type="text/javascript">
                (function(d, t){
                   var g = d.createElement(t),
                       s = d.getElementsByTagName(t)[0];
                   g.src = "http://www.foxyform.com/js.php?id=744422&sec_hash=b3cc706031c&width=400px&height=450px";
                   s.parentNode.insertBefore(g, s);
                }(document, "script"));
                </script>
            </div>
        </div>
    </section>
    <footer class="dFooter text-muted">Copyright © Masoud 2016</footer>
    <!-- jQuery -->
    <script src="/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="//javascripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/javascripts/jquery.easing.min.js"></script>
    <script src="/javascripts/jquery.fittext.js"></script>
    <script src="/javascripts/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/main.js"></script>
 </body>
 </html>