<li>
    <a class="page-scroll" href="/#about">About</a>
</li>
<li>
    <a class="page-scroll" href="/#profile">Profile</a>
</li>
<li>
    <a class="page-scroll" href="/blog">Blog</a>
</li>
<li>
    <a class="page-scroll" href="/gallery">Gallery</a>
</li>
<li>
    <a class="page-scroll" href="/contact">Contact</a>
</li>